div {
    background-color: beige;
}

body {
    margin: 0;
}

h1 {
    margin-top: 0px;
    color: aqua;
}

.top_class {
    background-color: aliceblue;
}

.middle_container {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

.bottom_container {
    background-color: rgb(196, 205, 255);
    width: 200px;
    height: 200px;


}