body {
    text-align: center;
    position: relative; 
    margin: 0;
}

h1 {
    font-family: "Mali", sans-serif;
}

h3 {
    font-family: "Mali", sans-serif;
}

.top_class {
    background-color: aliceblue;
}

.top_cloud {
    position: relative;   
    left: 240px;
    top: 25px;
}

.bottom_cloud {
    position: absolute;

}

/* .greetings {
    color: dodgerblue;
} */

